@{
    @model BankBranches
<h1>Branch Details </h1>
<div>
    <h4>@Html.DisplayNameFor(model => model.LocationName) @Html.DisplayFor(model => model.LocationName)</h4>
    <h4>@Html.DisplayNameFor(model => model.LocationURL) @Html.DisplayFor(model => model.LocationURL)</h4>
    <h4>@Html.DisplayNameFor(model => model.EmployeeCount) @Html.DisplayFor(model => model.EmployeeCount)</h4>
    <h4>@Html.DisplayNameFor(model => model.Branchmanger) @Html.DisplayFor(model => model.Branchmanger)</h4>
    <h4>@Html.DisplayNameFor(model => model.Id) @Html.DisplayFor(model => model.Id)</h4>



    </div>
}